@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
}

.app__left {
  flex: 0.6;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.app__header h1 {
  color: rgb(197, 0, 0);
}

.app__dropdown {
  background-color: #f5f6fa;
}
.app__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  background-color: #f5f6fa;
  border-radius: 5px;
}

.app__stats h3 {
  width: 100%;
  margin: 2em;
}

.app__right {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2) !important;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

@media screen and (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
